{{#if context.topic.sr_fields }}
  {{#if context.topic.sr_fields.priority }}
  <span class="sr-sm sr-priority sr-{{context.topic.sr_fields.priority}}">{{context.topic.sr_fields.priority}}</span>
  {{/if}}
{{/if}}
